input {
  width: 90%;
  padding: 5px;
  border-color: rgba(218, 217, 217, 0.705);
  border-radius: 5px;
  font-size: 10px;
  text-align: left;
}

span {
  font-size: 15px;
}

submit {
  width: 10rem;
}
