div{
    text-align: center;
    height: 46.5rem;
}

.white{
    background-color: white;
    color: rgba(255, 255, 0, 0.616);
  
}

.yellow{
    background-color: rgba(255, 255, 0, 0.616);
    color: rgba(172, 255, 47, 0.856);
 
}

.green{
    background-color: rgba(172, 255, 47, 0.856);
    color: rgba(190, 26, 26, 0.877);

}

.red{
    background-color: rgba(190, 26, 26, 0.877);
    color: white;
}

.blue{
    background-color: plum;
    color: white;
    
}

.bold{
    font-weight: bold;
    font-size: 20px;
}